
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/atom flier gangway c_Oracle.txt
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/clover scrubber disp_Oracle.doc
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/d1Zu_Oracle.xls
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/decorator-eel_Oracle.xlsx
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/desktop.ini
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/n1DbE_Oracle.docx
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/OWU_Oracle.sql
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/s8971T_Oracle.rtf
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/tiara-triceps_Oracle.pem
projects/dba-essentials-test/\!This folder protects against Ransomware. Just leave it here_Oracle/UR3AZBTL_Oracle.mdb
